#bdgroove {
    border: groove;
    border-color: #338bb4;
    border-width: 15px;
}

body {
    background-image: url(../images/pole1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}