#bdgroove {
    border: groove;
    border-color: rgb(255, 91, 162);
    border-width: 15px;
    margin: 0px;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}
pre {
    font-size: 23px;
}

@media (max-width: 430px) {
    pre {
    font-size: 12px;  
    }
}

@media (max-width: 768px) {
    pre {
    font-size: 17px;  
    }
}

/* @media (min-width: 1430px) {

#card2 {
    position: absolute;
    top: 250px;
    left: 60px;
}

#card4 {
    position: absolute;
    top: 190px;
    right: 60px;
}

} */