#bdgroove {
    border: groove;
    border-color: rgb(246, 255, 0);
    border-width: 15px;
    margin: 0px;
}

/* @media (min-width: 1430px) {

#card2 {
    position: absolute;
    top: 250px;
    left: 60px;
}

#card4 {
    position: absolute;
    top: 190px;
    right: 60px;
}

} */