    @font-face {
        font-family: "Caveat-Regular";
        src: url("../fonts/caveat/Caveat-Regular.ttf") format("truetype");
        }

    @font-face {
        font-family: "Roboto-Regular";
        src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "Roboto-Bold";
        src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
    }

    /* @import url("./fonts/caveat/Caveat-Regular.ttf"); */
        

@tailwind base;
@tailwind components;
@tailwind utilities;
